<nav class="navbar navbar-expand-lg navbar-light bgGreen" >
    <a routerLink="/home" class="navbar-brand">
      <img src="assets/images/logo.ico" alt="grovi_logo" height="42">
    </a>
    <a class="navbar-brand atag" routerLink="/home">Grovi</a>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
  
        
        <div class="navbar-nav ml-auto">
          
          <a class="navbar-brand">
            <img src="assets/images/removebg.png" alt="grovi_smalllogo" height="32">
          </a>
          <a class="navbar-brand pt-2" >Ishan</a>
        </div>
  
      </div>
    </nav>
  
  