<div class="fillBack">
<div class="container applycss">
    <br /><br />
    <br />
    <div class="row mt-5">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <img src="/assets/images/finImage.jpg" alt="svgimage" width="90%" />
      </div>
      <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-5 pt-5 text-center">
        <h1>Finance Process Automation</h1>
        <div>
             <!-- <h3>By  <img class="iconWidth" src="/assets/images/index_KRu_icon.ico"/> Solutions</h3> -->
              <span>Powered By :</span> <img class="iconWidth" src="/assets/images/Orange38.jpg"/> 

        </div>
       
        <!-- <p>
          DESCRIPTION TEXT SPACE FOR FUTURE INPUT 
        </p> -->
        <div>
          <button class="btn btn-primary" routerLink="/login">Sign In</button>
          <!-- <button class="btn btn-info" routerLink="/signup">Sign Up</button> -->
        </div>
      </div>
    </div>
  </div>
</div>
  