<div class="fillBack">
    <header class="masthead text-center  d-flex">
        <div class="container my-auto">
          <div class="row">
            
            </div>
            <!-- <div class="col-lg-8 mx-auto">
              <p class="text-faded mb-5">Caring for all your family’s dental needs.</p>
              <a class="btn btn-primary btn-xl js-scroll-trigger" target="_blank" href="https://www.facebook.com/pearlesmylz/">Find
                Out More on Facebook</a>
            </div>  -->
            <div class=" col-lg-8 mx-auto">
              <div class="jumbotron">
                <div class="col-lg-10 mx-auto">
                    <h1 class="text-uppercase">
                      <strong>Finanace Process Automation</strong>
                    </h1>
                    <div>
                        <!-- <h3>By  <img class="iconWidth" src="/assets/images/index_KRu_icon.ico"/> Solutions</h3> -->
                         <!-- <span>Powered By :</span> <img class="iconWidth" src="/assets/images/Orange38.jpg"/>  -->
                         <!-- <p class="text-faded mb-5">Powered By : <img class="iconWidth" src="/assets/images/Orange38.jpg"/> </p> -->
                         <p class="text-faded mb-5">Powered By : <img class="iconWidth" src="/assets/images/Orange38-removebg.png"/> </p>

                   </div>
                    <hr>
              <!-- <h1>Hello, world!</h1> -->
              <!-- <p class="text-faded mb-5">Caring for all your family’s dental needs.</p> -->
              <!-- <p><a class="btn btn-primary btn-xl js-scroll-trigger" target="_blank" href="https://www.facebook.com/pearlesmylz/">Find
                Out More on Facebook</a></p> -->
                <button class="btn btn-primary btn-xl js-scroll-trigger" routerLink="/login">Get Started</button>
            </div></div>
          </div>
        </div>
      </header>
<!-- <div class="container applycss">
    <br /><br />
    <br />
    <div class="row mt-5">
      <div class="col-lg-6 col-md-6 col-sm-12 col-12">
        <img src="/assets/images/finImage.jpg" alt="svgimage" width="90%" />
      </div>


      <div class="col-lg-6 col-md-6 col-sm-12 col-12 my-5 pt-5 text-center">
        <h1>Finance Process Automation</h1>
        <div>
             <h3>By  <img class="iconWidth" src="/assets/images/index_KRu_icon.ico"/> Solutions</h3>
              <span>Powered By :</span> <img class="iconWidth" src="/assets/images/Orange38.jpg"/> 

        </div>
       
        <p>
          DESCRIPTION TEXT SPACE FOR FUTURE INPUT 
        </p>
        <div>
          <button class="btn btn-primary" routerLink="/login">Sign In</button>
          <button class="btn btn-info" routerLink="/signup">Sign Up</button>
        </div>
      </div>
    </div>
 

</div> -->
</div>
  