<form>
    <div class="form-group row">
        
      <label for="expLedger" class="col-sm-2 col-form-label">Rxepnse / Ledger</label>
      <div class="col-sm-9">
        <input type="text"  class="form-control" id="expLedger" placeholder="expense/ ledger" value="">
      </div>
    </div>


    <div class="form-group row">
        <label for="vendorBankLedger" class="col-sm-2 col-form-label">Vendor Bank Ledger</label>
        <div class="col-sm-9">
          <input type="text"  class="form-control" id="vendorBankLedger" placeholder="Book Value" value="">
        </div>
    </div>

    <div class="form-group row">
      <label for="narration" class="col-sm-2 col-form-label">Narration</label>
      <div class="col-sm-9">
        <input type="text"  class="form-control" id="narration"  placeholder="Narration" value="">
      </div>
  </div>


  <div class="form-group row">
    <label for="irn" class="col-sm-2 col-form-label">IRN</label>
    <div class="col-sm-9">
      <input type="text" readonly  class="form-control" id="irn"  placeholder="IRN will be integrated shortly" value="">
    </div>
  </div>

  <div class="form-group row">
    <label for="hsn" class="col-sm-2 col-form-label">HSN</label>
    <div class="col-sm-4">
      <input type="text"   class="form-control" id="hsn"  placeholder="HSN" value="">
    </div>

    <label for="userID" class="col-sm-2 col-form-label">User ID</label>
    <div class="col-sm-4">
      <input type="text"   class="form-control" id="userID"  placeholder="userID" value="">
    </div>
  </div>

  <div class="form-group row">
    TABLE for Expenses
  </div>

    
</form>
